{% extends "base.html" %}

{% block title %}Comprovante #{{ venda.id }} — Adega Premium{% endblock %}

{% block content %}

<div>

    <div>
        APEM SENAI
    </div>

    <div>
        Venda #{{ venda.id }} —
        {{ venda.criado_em.strftime('%d/%m/%Y %H:%M') }}
    </div>

    <hr>

    {% if venda.cliente %}

    <div>
        <span>Cliente</span>
        <span>{{ venda.cliente.nome }}</span>
    </div>

    <hr>

    {% endif %}

    {% for item in venda.itens %}

    <div>
        <span>{{ item.produto_nome }}</span>
        <span>R$ {{ "%.2f"|format(item.subtotal) }}</span>
    </div>

    <div>
        {{ item.quantidade }} ×
        R$ {{ "%.2f"|format(item.preco_unitario) }}
    </div>

    {% endfor %}

    <hr>

    <div>
        <span>Subtotal</span>
        <span>R$ {{ "%.2f"|format(venda.total_bruto) }}</span>
    </div>

    {% if venda.desconto_valor > 0 %}

    <div>
        <span>Desconto ({{ venda.desconto_percentual|int }}%)</span>
        <span>− R$ {{ "%.2f"|format(venda.desconto_valor) }}</span>
    </div>

    {% endif %}

    <div>
        <span>TOTAL</span>
        <span>R$ {{ "%.2f"|format(venda.total_liquido) }}</span>
    </div>

    {% if venda.observacao %}

    <hr>

    <div>
        {{ venda.observacao }}
    </div>

    {% endif %}

</div>

<a href="/pdv">
    + Nova venda
</a>

<a href="/pdv/historico">
    Ver histórico
</a>

{% endblock %}
