<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>Bem-vindo - Nova Adega</title>

<link rel="stylesheet" href="/static/css/index.css">


</head>

<body>


<main class="pagina-inicial">

    <section class="card-inicial">

        <div class="logo">
            🍷
        </div>

        <h1>Sistema da Nova Adega</h1>

        <p>
            Faça login ou crie uma conta para acessar o sistema.
        </p>

        <div class="botoes">

            <a href="/auth/login" class="btn btn-entrar">
                Entrar
            </a>


        </div>

    </section>

</main>

</body>

</html>
