{% extends "base.html" %}


{% block title %}
Bem-vindo - Nova Adega
{% endblock %}


{% block styles %}

<link
    rel="stylesheet"
    href="/static/CSS/index.css"
>

{% endblock %}


{% block content %}

<main class="index-container">


    <section class="index-card">


        <!-- ÍCONE -->

        <div class="index-icone">

            🍷

        </div>


        <!-- TÍTULO -->

        <h1>
            Sistema da Nova Adega
        </h1>


        <!-- DESCRIÇÃO -->

        <p>
            Faça login para acessar o sistema.
        </p>


        <!-- BOTÃO -->

        <div class="index-botoes">

            <a
                href="/auth/login"
                class="btn-entrar"
            >

                Entrar

            </a>

        </div>


    </section>


</main>

{% endblock %}